::-webkit-scrollbar {
  height: 6px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #e2e2e2a3;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
  cursor: pointer;
}

.heroContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: 30px;
  border-radius: 10px;
  gap: 60px;
  background-color: #e2ecf8;
  padding: 0;
  padding-left: 80px;
  margin-bottom: 0;
}

.heroContainerLeft {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.heroHeading {
  font-family: emberHelabold;
  font-size: 60px;
  width: 540px;
  letter-spacing: -1.5px;
  line-height: 64px;
}

.heroDesc {
  font-size: 20px;
  font-weight: 500;
  width: 500px;
}

.heroButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: emberbold;
  padding: 10px;
  padding-left: 16px;
  width: 48%;
  border: none;
  border-radius: 36px;
  font-size: 18px;
  cursor: pointer;
  background-color: #ff9900;
  color: #fff;
  transition: 0.3s;
}

.heroButton span {
  background-color: #fff;
  color: #ff9900;
  border-radius: 100%;
  padding: 8px;
  width: 24px;
}

.allProductsButton {
  text-decoration: none;
  transition: 0.3s;
}

.allProductsButton :hover {
  transform: scale(1.04);
}

.swiperCard {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  overflow: hidden;
  border-radius: 12px;
  height: 40vh;
}
.cardDetails {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.cardHeading {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 10px;
}
.cardPrice {
  font-size: x-large;
}

/* ACCOUNT CONTAINER */

.accountContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 14vh;
  margin: 30px;
  margin-top: 20px;
  margin-bottom: 0;
  border-radius: 10px;
  gap: 60px;
  background-color: #ffdac6;
}

.accountItems {
  display: flex;
  align-items: center;
  gap: 100px;
}

.itemCard {
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 10px;
}

.itemCard div > div:nth-child(2) {
  font-weight: 500;
}

/* CATEGORY CONTAINER */

.categoryContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  margin-top: 0px;
  gap: 60px;
}

.categoryHeaders {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  margin-top: 24px;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 500;
}

.categoryItems {
  display: flex;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}

.categoryitemCard {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  gap: 18px;
  height: 24vh;
  /* width: 50vh; */
  width: 100%;
  justify-content: space-around;
  padding-left: 20px;
  background-color: #e9eef9;
  border-radius: 10px;
  overflow: hidden;
}

/* BANNERS SECTION */

.bannerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  margin: 30px;
  border-radius: 10px;
  gap: 60px;
  background-color: #bbd7e2;
  padding: 0;
  padding-left: 80px;
  margin-bottom: 0;
  overflow: hidden;
}

.bannerContainerLeft {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.bannerHeading {
  font-family: emberHelabold;
  font-size: 60px;
  width: 600px;
  letter-spacing: -1.5px;
  line-height: 64px;
}

.bannerDesc {
  font-size: 20px;
  font-weight: 500;
  width: 500px;
}

.bannerImg img {
  height: 400px;
}

/* PRODUCTS CONTAINER */

.productsContainer {
  position: relative;
  display: flex;
  align-items: center;
  margin: 30px;
  margin-top: 0px;
  margin-bottom: 0;
}

.productsHeaders {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  margin-top: 24px;
  margin-bottom: 12px;
  font-size: 18px;
}

.productsItems {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  gap: 20px;
  overflow-x: hidden;
  text-decoration: none;
  scroll-behavior: smooth;
}

.productsItems a {
  text-decoration: none;
  color: #000;
}

.productsitemCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* height: 40vh; */
  height: auto;
  min-width: 28vh;
  padding: 12px;
  border-radius: 4px;
  overflow: hidden;
  background-color: white;
  margin-bottom: 20px;
}

.productItemDetails {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.productBrand {
  color: #474747;
}

.productName {
  font-size: 20px;
  font-weight: 500;
  height: 70px;
}

.productPrice {
  font-size: 20px;
  font-weight: 600;
  display: flex;
}

.productImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productImg > img {
  height: 250px;
  border-radius: 4px;
}

/* SCROLL New styles for scroll buttons*/

.scrollButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #37475a;
  color: white;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.scrollButton.left {
  left: -12px;
}

.scrollButton.right {
  right: -12px;
}

/* Medium size screen */

@media only screen and (max-width: 1750px) {
  /* Hero Section */

  .heroContainer {
    height: 50vh;
    margin: 30px;
    border-radius: 10px;
    gap: 0px;
  }

  .heroHeading {
    font-size: 52px;
  }

  .swiperCard {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    overflow: hidden;
    border-radius: 12px;
    height: 40vh;
  }

  .cardDetails {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .cardHeading {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
  }
  .cardPrice {
    font-size: large;
  }

  .heroImg {
    height: 320px;
  }

  /* BANNERS SECTION */

  .bannerContainer {
    gap: 40px;
  }

  .bannerHeading {
    font-family: emberHelabold;
    font-size: 52px;
  }

  .bannerImg img {
    height: 400px;
  }

  /* PRODUCTS SECTION */

  .productsItems {
    gap: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .productsitemCard {
    /* height: 45vh; */
    height: auto;
  }
}

@media only screen and (max-width: 1480px) {
  .bannerContainer {
    overflow: hidden;
  }

  .swiperCard {
    flex-direction: column-reverse;
    height: 46vh;
  }

  .heroImg {
    height: 240px;
  }

  .productImg > img {
    height: 240px;
  }
}

@media only screen and (max-width: 1250px) {
  ::-webkit-scrollbar {
    display: none;
  }

  /* 🟨 Media query to hide scroll buttons */
  .scrollButton {
    display: none; /* 🟨 Hide scroll buttons */
  }

  .productsItems {
    overflow-x: scroll; /* 🟨 Re-enable scrollbar for smaller screens */
  }

  .heroContainer {
    overflow: auto;
  }

  .heroHeading {
    font-size: 32px;
    width: 340px;
    letter-spacing: -1.5px;
    line-height: 40px;
  }

  .heroDesc {
    font-size: 18px;
    font-weight: 500;
    width: 320px;
  }

  .swiperCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    background-color: #fff;
    overflow: hidden;
    border-radius: 12px;
    height: 32vh;
  }

  .cardDetails {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .cardHeading {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
  }
  .cardPrice {
    font-size: large;
  }

  .heroImg {
    height: 200px;
  }

  /* BANNER SECTION */

  .bannerContainer {
    gap: 0px;
    flex-direction: column;
    height: auto;
    padding: 28px;
  }

  .bannerContainerLeft {
    gap: 28px;
  }

  .bannerHeading {
    text-align: center;
    font-size: 32px;
    width: 300px;
    letter-spacing: -1.5px;
    line-height: 40px;
  }

  .bannerDesc {
    font-size: 20px;
    font-weight: 500;
    width: 300px;
  }

  .bannerImg img {
    height: 380px;
  }

  /* ACCOUNT SECTION */

  .accountContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14vh;
    margin: 30px;
    margin-top: 20px;
    margin-bottom: 0;
    border-radius: 10px;
    gap: 60px;
    /* background-color: #f8f3f0; */
    overflow: auto;
  }

  .accountItems {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .itemCard {
    font-weight: 600;
    font-size: 12px;
    gap: 0px;
  }

  .itemCard div > div:nth-child(2) {
    font-weight: 500;
  }

  /* CATEGORY CONTAINER */

  .categoryItems {
    justify-content: center;
    flex-wrap: wrap;
  }

  /* PRODUCT SECTION */

  .productImg > img {
    height: 220px;
  }

  .productName {
    font-size: 18px;
    font-weight: 500;
    height: 50px;
  }

  .productsItems {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 900px) {
  .heroContainer {
    display: none;
  }

  .productsHeaders {
    font-size: 15px;
  }

  .accountContainer {
    height: 14vh;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .accountItems {
    gap: 16px;
    width: 100%;
  }

  .itemCard {
    font-weight: 600;
    font-size: 12px;
    gap: 8px;
    padding: 10px;
    min-width: 240px;
  }

  .bannerHeading {
    font-size: 30px;
    letter-spacing: -1px;
  }

  .bannerImg img {
    height: 280px;
  }

  .bannerContainer {
    gap: 0px;
    flex-direction: column;
    height: auto;
    padding: 28px;
    margin: 0px;
    border-radius: 0px;
  }

  .bannerDesc {
    font-size: 18px;
  }

  .categoryHeaders {
    font-size: 16px;
  }

  .categoryItems {
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    overflow: scroll;
  }

  .categoryitemCard {
    font-size: 16px;
    gap: 12px;
    min-width: 100%;
  }

  .categoryitemCard > img {
    width: 220px;
  }
}
