.navbar {
  /* position: sticky;
  top: 0;
  z-index: 100; */
  display: flex;
  align-items: center;
  background-color: #131921;
  color: #fff;
  height: 64px;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 500;
  font-size: 18px;
  border-bottom: #6e6e6e 0.5px solid;
}

.navbarSmallScreen {
  display: none;
}

.navbarSearchBarSmallScreen {
  display: none;
}

.navbarLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 36px;
}

.navbarRight {
  display: flex;
}

.navbarLocation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.navbarSearchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.navbarSearch {
  font-family: emberRegular;
  flex-grow: 1;
  background-color: #f2f3f5;
  border: none;
  padding: 12px;
  padding-left: 20px;
  font-size: 14px;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.navbarLogo {
  width: 100px;
  padding-top: 8px;
}

.navbarTopLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
  list-style: none;
}

.cartLink {
  text-decoration: none;
  color: white;
  z-index: 2;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartLink:hover {
  cursor: pointer;
  transition: ease-in-out 0.2s;
  color: #ff9900;
}

.navbarBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #131921;
  color: #fff;
  height: 32px;
  padding: 8px;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
}

.navbarBottomLinks {
  display: flex;
  gap: 40px;
  list-style: none;
  font-weight: 500;
}

.navbarBottomLinks li:hover {
  cursor: pointer;
  transition: ease-in-out 0.4s;
  color: #ff9900;
  font-weight: 500;
}

@media only screen and (max-width: 1250px) {
  .navbar {
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .navbarBottom {
    overflow: scroll;
    overflow-y: hidden;
  }
}

@media only screen and (max-width: 900px) {
  .navbar {
    display: none;
  }

  .navbarBottom {
    display: none;
  }

  .navbarSmallScreen {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #232f3e;
    color: #fff;
    height: 54px;
    font-weight: 500;
    font-size: 16px;
    /* border-bottom: #6e6e6e 0.5px solid; */
    padding-left: 16px;
    padding-right: 16px;
  }

  .navbarTopLinksSmallScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    list-style: none;
  }

  .navbarTopLinksSmallScreen > li > img {
    width: 34px;
  }

  .navbarLeftSmallScreen {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
  }

  .navbarLogoSmallScreen {
    padding-top: 10px;
    width: 94%;
    position: absolute;
    text-align: center;
  }

  .navbarLogoSmallScreen img {
    width: 84px;
  }

  .navbarSearchBarSmallScreen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: #232f3e;
  }

  .navbarSearchSmallScreen {
    font-family: emberRegular;
    flex-grow: 1;
    margin: 10px;
    margin-right: 0;
    background-color: #ffffff;
    border: none;
    padding: 12px;
    padding-left: 20px;
    font-size: 14px;
    border-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
