.heroContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56vh;
  margin: 40px;
  border-radius: 16px;
  gap: 60px;
  background-color: #f2f3f5;
  padding: 0;
  padding-left: 80px;
}

.heroContainerLeft {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.heroHeading {
  font-size: 64px;
  font-weight: 700;
  width: 540px;
  letter-spacing: -1.5px;
  line-height: 64px;
}

.heroDesc {
  font-size: 20px;
  font-weight: 500;
  width: 500px;
}

.heroButton {
  font-size: medium;
  width: 240px;
  padding: 16px;
  background-color: #fff;
  color: #131921;
  border: none;
  border: #131921 1px solid;
  border-radius: 12px;
  font-weight: 500;
}

/* .heroContainerRight {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 28px;
  border-radius: 12px;
  background-color: #fff;
} */

.swiperCard {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  overflow: hidden;
  border-radius: 12px;
  height: 40vh;
}
.cardDetails {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.cardHeading {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 10px;
}
.cardPrice {
  font-size: x-large;
}

/* ACCOUNT CONTAINER */

.accountContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14vh;
  margin: 40px;
  border-radius: 16px;
  gap: 60px;
  background-color: #f8f3f0;
}

.accountItems {
  display: flex;
  align-items: center;
  gap: 60px;
}

.itemCard {
  display: flex;
  align-items: center;
  width: 20%;
}
